body{
	font-family: sans-serif;
}

a {
	border: none;
	text-decoration: none;
	padding: 1em;
	background: #eee;
	color: #333;
	border-radius: 5px;
	margin: 5px;
}

a:hover{
	background-color: #333;
	color: #eee;
}

iframe{
	margin: 10px;
}